/*
 * IE6 Styl Za ferove banany
 * Autor: Jan Rezac
 *
 */

div.wrapper,
div.wrapper2,
div.footer,
div.search2,
div.counter,
.press a,
.press b,
.press span,
.press li,
div.results div,
div.recipe,
.wrapper ul li {
  zoom: 1;
}

div.recipe a.noBack {
  display: block;
  padding-bottom: 20px;
}

div.lang {
  width: 190px;
}

div.cimg {
  margin: 0 0 0 14px;
}

div.ctext {
  margin-right: 20px;
}

div.search input.txt {
  height: 27px;
}

input.text {
  height: 25px;
}

div.search2 input.txt {
  height: 34px;
}

div.search input.send,
input.sub {
  width: 0;
  overflow: visible;
  padding: 2px 10px 2px;
}

input.sub {
  padding-left: 22px;
}

div.wrapper,
div.bread,
div.footer {
  margin-top: -1px;
}

.banana2,
.papple2 {
  width: 300px;
}

div.cite div.clr {
  padding-bottom: 30px;
}